/venv
Aditya/venv
Aditya/nvenv
Aditya/SpeakSmart/__pycache__/oai_whisper.cpython-311.pyc
Aditya/SpeakSmart/__pycache__/Ollama_client.cpython-311.pyc
Aditya/SpeakSmart/__pycache__/record.cpython-311.pyc
Aditya/SpeakSmart/__pycache__/upload.cpython-311.pyc
Aditya/SpeakSmart/__pycache__/utility.cpython-311.pyc
Aditya/SpeakSmart/Aditya/strm/uploads
Aditya/SpeakSmart/uploads
Aditya/SpeakSmart/__pycache__/direct_input.cpython-311.pyc
